/*

    CBS Web template article LESS file
    
Rules for article pages. For more information, see 'style.less'

*/

@import "variables.less";
@import "mixins.less";

article {
    header {
        max-height: none;
        > img {
            width: 100%;
            height: auto;
        }
    }
}
h1, h2, h3, h4, h5, h6 {
    margin-top: @baseLineHeight * 2;
}
blockquote {
    border: none;
    padding: 0;
    > span {
        font-style: italic;
        color: darken(@blue, 20%);
    }
}
.main-header {
    position: static;
    background: transparent;
}
h1 {
    margin-top: 0;
    font-size: @fontSizeLarge * 2.25;
}
.sidebar {
    margin-bottom: @baseLineHeight;
    h1 {
        font-size: @fontSizeLarge;
    }
}
