/*
Custom CSS for homepage
*******************************************************************************/
@import "variables.less";
@import "mixins.less";

#homepage-sections {
    p {
        .body-copy;        
    }
}
#sidebar-container {
    .event-details {
        dt, dd {
            line-height: @baseLineHeight * 0.75;
        }
        dt {
            color: @black;
            text-transform: uppercase;
        }
    }
    h2, .widget_cbs_wordpress_events_widget h2 {
        font-size: @baseFontSize * 1.1;
        color: @blueDark;
    }
}

