/*
Mixins
*******************************************************************************/
.dl-horizontal {
    dt {
        width: auto;
    }
    dd {
        margin-left: @baseLineHeight * 4;
    }
}
.body-copy {
    text-align: justify;
    text-justify: inter-word;
}
.article-title-style {
    color: black;
    margin: 0;
    padding: @paddingLarge;
    padding-left: 0;
    line-height: @baseLineHeight;
    background: fade(@white, 85%);
    font-size: @baseFontSize * 1.5;
    width: auto;
}
.top-element(@height: @carouselElementHeight){
    margin-top: -(@height);
}
