/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.with-carousel {
    margin-top: @carouselHeight;
}
.navbar {
    .navbar-inner {
        background: transparent;
        padding: 0;
        .box-shadow(none);
    }
    .nav-menu {
        .nav {
            .span(9);
            display: table;
            margin: 0;
            .dropdown-menu {
                margin-top: 0;
                border: none;
                .border-radius(0);
                &:before,
                &:after {
                    display: none;
                }
                li {
                    display: block;
                    width: auto;
                    .navbar-link;
                    a {
                        padding: @paddingLarge;
                    }
                }
            }
            .menu-item {
                .navbar-link;
                color: @grayDark;
            }
            li {
                display: table-cell;
                width: 1%;
                float: none;
                a {
                    line-height: @baseLineHeight;
                    white-space: nowrap;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-shadow: none;
                }
            }
        }
    }
    .nav-search {
        .pull-right;
        margin-bottom: 0;
        padding-top: ((@navbarHeight - @baseLineHeight) / 2);
        padding-bottom: ((@navbarHeight - @baseLineHeight) / 2);
        input.search-query {
            .span(3);
            padding: @paddingSmall;
            .border-radius(@borderRadiusLarge);
        }
    }
    .dropdown-menu li a {
        text-transform: none !important;
        text-align: left !important;
    }
}
@media(min-width: @minPageSize){
    .dropdown-menu {
        left: auto;
    }
}
@media(max-width: @maxMobileSize){
    .dropdown-menu li {
        width: 100% !important;
    }
}
.dropdown:hover > ul.dropdown-menu {
    display: block;
}
.navbar .nav > .current-menu-item > a,
.navbar .nav > .current-menu-item > a:hover,
.navbar .nav > .current-menu-item > a:focus {
    color: @navbarLinkColorActive;
    text-decoration: none;
    background-color: @navbarLinkBackgroundActive;
    .box-shadow(none);
}
