/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar {
    margin-top: @carouselHeight;
    margin-bottom: 2px;
    .navbar-inner {
        background: transparent;
        padding: 0;
        .box-shadow(none);
    }

    input.search-query {
        padding: @paddingSmall;
        .border-radius(@borderRadiusLarge);
    }
    .nav {
        display: table;
        margin: 0;
        li {
            display: table-cell;
            width: 1%;
            float: none;
        }
        .navbar-search {
            text-align: right;
        }
        .navbar-search:hover {
            background: transparent;
        }
    }
    .nav > li > a {
        white-space: nowrap;
        text-align: center;
        color: @grayDark;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: none;
    }
}
