/*

    CBS Web template Responsive LESS file
    
Responsive template for CBS Web presence. For more information, see 'style.less'

*/

/*
Importing bootstrap first, then moving on to custom stuff
*******************************************************************************/
@import "../etc/bootstrap/less/responsive.less";

@import "variables.less";
@import "mixins.less";

@media (min-width: @minPageSize) {
    .main-header {
        .department-heading {
            h2 {
                line-height: .5;
                &.subheading {
                    line-height: 1;
                }
            }
        }
    }
    .main-header.with-overlay {
        position: absolute;
        top: 0;
    }
}
@media (min-width: @minTabletSize) and (max-width: @maxTabletSize) {
    .nav {
        width: auto !important;
        a {
            font-size: @fontSizeSmall;
        }
    }
}
@media (max-width: @maxMobileSize) {
    .main-header {
        .logo-heading, .department-heading {
            width: auto;
        }
        .logo-heading img {
            max-width: 80%;
        }
    }
    .navbar .nav-collapse {
        .sub-menu {
            margin: 0;
        }
        .dropdown-menu {
            font-weight: normal;
            display: block;
            a {
                padding-left: @baseLineHeight * 2;
            }
        }
        .nav {
            width: 100%;
            li {
                a {
                    .border-radius(0);
                    text-align: left;
                }
                a:hover {
                    background-color: @navbarLinkBackgroundHover;
                }
                float: left;
                width: 100%;
            }
        }
    }
    #main-nav-btn {
        position: absolute;
        top: @basePaddingV;
        right: @basePaddingH;
        margin: 0;
    }
    .carousel {
        .carousel-control {
            position: absolute;
            top: @baseLineHeight;
            padding: 0;
            margin: 0;
            border: 0;
        }
        .carousel-inner {
            height: auto;
            overflow: visible;
            > .item {
                padding: 0;
                height: auto;
                background: transparent;
                > img {
                    position: static;
                    width: 100%;
                }
                > .container {
                    height: auto;
                    .carousel-caption {
                        position: static;
                        margin: 0;
                        padding: 0;
                        padding-bottom: @baseLineHeight;
                        max-width: 100%;
                        background: @white;
                        p {
                            .body-copy;
                            background: @white;
                            text-shadow: none !important;
                            font-size: @baseFontSize;
                            color: @grayDark !important;
                        }
                        h2 {
                            .article-title-style;
                            position: static;
                            padding: 0;
                            padding-top: @baseLineHeight / 2;
                            font-size: @fontSizeLarge;
                            text-shadow: none;
                        }
                    }
                }
            }
        }
    }
    .section-heading {
        font-size: @fontSizeLarge * 1.75;
        color: @grayDark;
    }
    footer {
        p {
            font-size: @fontSizeSmall;
        }
        .container {
            margin: 20px;
        }        
        margin: -20px;
        height: auto !important;
    }
    footer .contact-info dt {
        float: left;
    }
}
@media (max-width: @maxTabletSize) {
    .main-header {
        position: static;
        background: transparent;
        z-index: 0;
        .logo-heading h1 {
            margin-left: 0;
        }
        .department-heading {
            margin-bottom: @baseLineHeight;
            h2 {
                text-align: left;
                padding-right: 0;
                line-height: inherit;
            }
        }
    }
    .navbar, .carousel, .page-header {
        margin-top: 0;
    }
    #site-search {
        padding-bottom: 0;
        width: 100%;
        .search-query {
            .input-block-level;
        }
    }
    .carousel {
        .carousel-caption {
            p {
                font-size: @baseFontSize;
            }
            h2 {
                font-size: @baseFontSize * 1.5;
                line-height: @baseLineHeight;
            }
        }
    }
}
